Package: vlab-vnc
Version: 1.0-3
Section: base
Priority: required
Architecture: all
Pre-Depends: dbus-x11
Depends: lightdm, lightdm-greeter, tigervnc-standalone-server, lsb-release
Recommends: lightdm-gtk-greeter-settings
Maintainer: USTC Vlab <vlab@ustc.edu.cn>
Description: Enable VNC in coordination with Vlab frontend
