Package: vlab-earlyoom
Version: 1.1-2
Section: base
Priority: optional
Architecture: all
Recommends: zenity
Provides: earlyoom
Conflicts: earlyoom
Replaces: earlyoom
Maintainer: USTC Vlab <vlab@ustc.edu.cn>
Description: Vlab earlyoom configurations for interactive responsiveness
