Package: vlab-earlyoom
Version: 1.0-2
Section: base
Priority: optional
Architecture: all
Depends: earlyoom, libnotify-bin
Maintainer: USTC Vlab <vlab@ustc.edu.cn>
Description: Vlab earlyoom configurations for interactive responsiveness
