Package: pve-lxc-btrfs
Version: 1.1-2
Section: base
Priority: optional
Architecture: all
Depends: e2fsprogs, btrfs-progs, util-linux
Maintainer: USTC Vlab <vlab@ustc.edu.cn>
Description: Replace mkfs.ext4 and resize2fs for Proxmox VE LXC containers
