Package: pve-lxc-btrfs
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: e2fsprogs
Maintainer: USTC Vlab <vlab@ustc.edu.cn>
Description: Replace mkfs.ext4 with mkfs.btrfs wrapper for Proxmox VE LXC containers
