[Unit]
Description=Vlab VNC Server
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=1000
Environment=DISPLAY=:0
ExecStart=/etc/vlab/vncserver
ExecStop=/etc/vlab/vncserver stop
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
